<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="bg-zinc-800">
    <h1 class="text-white p-5 mt-5 ml-4 text-5xl text-500 font-bold">All USER</h1>
    <a href="/" class="text-blue-500 p-5 ml-7 mt-7">Go back to create user</a>
  </div>
    <div class="users flex gap-5 flex-wrap p-10 ">
      <% if(users.length > 0) { %>
        <% users.forEach(function(user) { %>
          <div class="user w-72 gap-3 p-4 bg-zinc-800 rounded-lg">
             <div class="w-full h-72 gap-5 rounded-lg bg-zinc-700">
               <img class="w-full h-full object-cover overflow-hidden object-top"  src="<%= user.image %>" alt="">
             </div>
             <h3 class="text-xl text-blue-500  gap-3 font-bold mt-3 tracking-tighter"><%= user.name %></h3>
             <h5 class="text-zinc-500 font-bold"><%= user.email %></h5>
             <div class="flex gap-12 mt-10">
               <a class="text-blue-500 font-bold" href="/edit/<%= user._id %>">EDIT USER</a>
               <a class="text-red-500 font-bold" href="/delete/<%= user._id %>">DELETE USER</a>
             </div>
           </div>
         <% }) %> 
       <% } else { %>
          <h2 class="text-3xl text-blue-500  ">NO USER YETTT......</h2>
       <% } %>
    </div>   
    </div>

</body>
</html>
